.banner {
background-image: url("https://i.pinimg.com/originals/7a/31/23/7a31237ef955edcbdeb39536d6aa8573.jpg");
height: 58px;
width: 100%;
color: #fff;
padding: 150px 0;
margin-top: -122px;
background-size: cover;
}
