.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
}
